<!DOCTYPE html>
<html>
<head>
	<title>Pelatihan</title>
	<link rel="stylesheet" type="text/css" href="CSS/form_edit.css">
	<link rel="stylesheet" type="text/css" href="CSS/style.css">
</head>
<body class="form">
	<form class="logout" method="POST" action="">
		<input type="submit" name="logout" class="red" value="Keluar">
	</form>
	<h1>Edit data</h1>
	<div class="kotak_edit">
		<p class="tulisan_editn"></p>
		<form action="tabel-data.html">
			<label>Nama</label>
			<input type="text" name="username" class="form_login" placeholder="nama">

			<label>NIM</label>
			<input type="text" name="password" class="form_login" placeholder="nim">

			<input type="submit" class="tombol_edit" value="Edit">
		</form>
	</div>
</body>
</html>