<!DOCTYPE html>
<html>
<head>
	<title>Pelatihan</title>
	<link rel="stylesheet" type="text/css" href="CSS/table-style.css">
	<link rel="stylesheet" type="text/css" href="CSS/style.css">
</head>
<body>
	<form class="logout" method="POST" action="">
		<input type="submit" name="logout" class="red" value="Keluar">
	</form>
	<h1>tabel data</h1>
	<table class="table1">
		<tr>
			<th>No</th>
			<th>Nama</th>
			<th>NIM</th>
			<th>Aksi</th>
		</tr>
		<tr>
			<td>1</td>
			<td>F1D016061</td>
			<td>Mustiari</td>
			<td>
				<form class="formSiswa" method="POST" action="">
					<input type="submit" name="edit" class="blue" value="Edit">
					<input type="submit" name="hapus" class="red" value="Hapus">
				</form>
				<!-- <a href="edit.html" class="blue">Edit</a> &ensp;
				<a href="" class="red">Hapus</a> -->
			</td>
		</tr>

	</table>

	<form class="kotak" method="POST" action="">
		<input type="submit" name="tambah" class="blue" value="Tambah Data Siswa">
	</form>
	

</body>
</html>